<h1>Profile edit</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="form-group">
            <%= f.label :name, 'User name' %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :img, 'Profile img' %>
            <%= f.text_field :img, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :introduce, 'Introduce' %>
            <%= f.text_field :introduce, class: 'form-control' %>
        </div>
        <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
        
        <% end %>
</div>
