<div class="profile container mt-3">
<div class="row">
    <aside class="col-sm-4">
        <div class="card mb-2 mb-sm-0">
            <div class="text-center card-header">
                <div class="card-title">
                <h5 class="pt-2"><span><i class="<%= @crown %>"></i></span>
                <%= @user.name %></h5>
            </div>
        </div>
            <div class="card-body">
                <div class="text-center">
                <% if @user.img? %>
                <%= image_tag(@user.img_url, width: 100, height: 100, class: 'rounded-circle') %>
                <% else %>
                <%= image_tag('https://res.cloudinary.com/hbk8gkjwy/image/upload/v1573899056/default_p46v4q.png', width: 100, height: 100, class: 'rounded-circle') %>
                <% end %>
                </div><br>
                <div class="py-3 px-5 px-sm-0">
                <%= raw(nl2br(@user.introduce)) %><br>
                </div>
                 <div class="text-right text-sm-center">
                <% if current_user == @user %>
                <i class="far fa-edit edit"></i> 
                <%= link_to 'Edit Profile', edit_user_path(current_user), class: "edit" %>
                <% end %>
                <p class="pt-1 favorite"><span><i class="far fa-handshake favorite"></i> </span><%= @count_liked %>likes</p>
                </div>
            </div>
        </div>
    </aside>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item">
            <a href="<%= user_path(@user) %>" 
            class="nav-link <%= 'active' if current_page?(user_path(@user)) %>"
            ><%= @user.name %>'s post
            </a>
            </li>
            
            <li class="nav-item">
                <a href="<%= likes_user_path(@user) %>"
                class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">
                    <%= @user.name %>'s favorite
                </a>
            </li>
        </ul>
<%= render 'experiences/experiences', users: @likes, experiences: @experiences, liked: @liked %>
    </div>
</div>
</div>
