<div class="row">
    <aside class="col-sm-4">
        <div class="card mb-2 mb-sm-0">
            <div class="card-header text-center">
                <div class="card-title">
                <span><i class="<%= @crown %>"></i></span>
                <%= @user.name %>
                </div>
            </div>
            <div class="card-body">
                <div class="text-center">
                <% if @user.img? %>
                <%= image_tag(@user.img_url, width: 100, height: 100, class: 'rounded-circle') %>
                <% else %>
                <%= image_tag('http://res.cloudinary.com/hhzeaawuf/image/upload/default.png', width: 100, height: 100, class: 'rounded-circle') %>
                <% end %>
                </div><br>
                <div class="py-3">
                <%= raw(nl2br(@user.introduce)) %><br>
                </div>
                <div class="text-right text-sm-center">
                <% if current_user == @user %>
                <%= link_to 'Edit Profile', edit_user_path(current_user) %>
                <% if @count_liked != 0 %>
                <p class="pt-1 favorite"><span><i class="far fa-handshake"></i> </span><%= @count_liked %></p>
                <% end %>
                <% end %>
                </div>
            </div>
        </div>
    </aside>
    <div class="col-sm-8">
        <ul class="nav nav-tabs nav-justified mb-3">
            <li class="nav-item">
            <a href="<%= user_path(@user) %>" 
            class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">
            <%= @user.name %>'s post
            </a>
            </li>
            
            <li class="nav-item">
            <a href="<%= likes_user_path(@user) %>"
            class= "nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">
            <%= @user.name %>'s favorite
            </a>
            </li>
        </ul>
<%= render 'experiences/own', user: @user, experiences: @experiences %>
    </div>
</div>
