<ul class="list-unstyled">
    <% users.each do |user| %>
    <% if user.experiences.any? %>
    <div class="pb-2 pt-3">
        <span class="mr-1">
        <% if user.img? %>
        <%= image_tag(user.img_url, width: 30, height: 30, class: 'rounded-circle') %>
        <% else %>
        <%= image_tag('http://res.cloudinary.com/hhzeaawuf/image/upload/default.png', width: 30, height: 30, class: 'rounded-circle') %>
        <% end %>
        </span>
        <%= link_to user.name, user_path(user) %>
    </div>
    <% user.experiences.order(year: "DESC").each do |experience| %>
    <li> 
        <div class="border">
            <div class="row pt-3 pl-4">
                <div class="col-3"><p><%= experience.year %></p></div>
                <div class="col-9"><p><%= experience.content %></p></div>
            </div>
            <div class="text-right">
            <% if current_user == experience.user %>
            <%= link_to 'Edit', edit_experience_path(experience), class: 'mr-1' %>
            <%= link_to "Delete", experience, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'mr-2'  %>
            <% end %>
            </div>
        </div>
    </li>
    <% end %>
    <div class="text-right">
        <%= render 'relationships/favorite_button', user: user %> 
    </div>
    <% end %>
    <% end %>

</ul>
