<ul class="list-unstyled">
    <% experiences.each do |experience| %>
    <li>
            <div class="row">
                <div class="col-3"><%= experience.year %></div>
                <div class="col-9"><%= experience.content %></div>
            </div>
            <% if current_user == experience.user %>
            <%= link_to 'Edit', edit_experience_path(experience) %>
            <%= link_to "Delete", experience, method: :delete, data: { confirm: "削除してよろしいですか?" } %>
            <% end %>
            <%= render 'relationships/favorite_button', experience: experience %> 
    </li>
    <% end %>
</ul>
